{% extends "layout.html" %}

{%block content%}
<div class="serious">
    <section class="hero is-halfheight has-business-background">
        <div class="hero-body">
            <h1 class="port-title">
                Compra con Nosotros
            </h1>
        </div>
    </section>


    <br>
    <div class="container">
        <section class="hero is-white is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-6">
                    <h1 class="title">
                        Nuestro Modelo de Negocio
                    </h1>
                    <p class="subtitle">
                        Tu confiable socio en la industria de alimentos para perros.
                    </p>
                    <p>
                        En "Huevón," no solo vendemos comida para perros; forjamos relaciones sólidas. Nuestra pasión por los perros y nuestra integridad empresarial nos distinguen. Somos el socio en el que puedes confiar para nutrir a tus mascotas.
                    </p>
                    <p>
                        Descubre cómo nuestro modelo de negocio se centra en la confiabilidad y la calidad, asegurándote que estás en buenas manos.
                    </p>
                    </div>
                    <div class="column is-6">
                    <img src="https://img.freepik.com/free-vector/people-analyzing-growth-charts_23-2148866843.jpg" alt="Modelo de negocio de Huevón" class="image">
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section class="hero is-white is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-6">
                        <img src="https://icons.veryicon.com/png/o/business/work-circle/white-paper-1.png" alt="Opciones de mayoreo de Huevón">
                    </div>
                    <div class="column is-6">
                        <h1 class="title">
                            Opciones de Mayoreo
                        </h1>
                        <p class="subtitle">
                            ¡Compra a granel y ahorra!
                        </p>
                        <p>
                            En "Huevón," damos un paso más allá para nuestros clientes mayoristas. Ofrecemos una gama de opciones de compra al por mayor que incluyen descuentos significativos y personalización. Descubre cómo puedes expandir tu negocio con nosotros.
                        </p>
                        <a href="/mayoreo" class="button is-primary is-medium">Saber más</a>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section class="hero is-white is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-6">
                    <h1 class="title">
                        Opciones de Menudeo
                    </h1>
                    <p class="subtitle">
                        Perfecto para dueños de mascotas individuales.
                    </p>
                    <p>
                        En "Huevón," sabemos que cada perro es especial. Ofrecemos una amplia variedad de opciones de menudeo para satisfacer los gustos y necesidades de tu mascota. Descubre cómo puedes brindarle a tu amigo peludo lo mejor.
                    </p>
                    <a href="/menudeo" class="button is-primary is-medium">Saber más</a>
                    </div>
                    <div class="column is-6">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Store_Building_Flat_Icon_Vector.svg/1024px-Store_Building_Flat_Icon_Vector.svg.png" alt="Opciones de menudeo de Huevón">
                    </div>
                </div>
                </div>
            </div>
        </section>


    </div>
</div>

{%endblock%}

<div class="hero-head" style="padding-left: 3rem; padding-top: 0.5rem">
                <h1 class="title">Compra con Nosotros</h1>
            </div>