{% extends "layout.html" %}

{%block content%}
<div class="serious">
    <section class="hero is-halfheight has-mandado-background">
        <div class="hero-body">
            <h1 class="port-title">
                Contáctanos
            </h1>
        </div>
    </section>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="hero is-white is-fullheight">
            <div class="container">
                <div class="top-header">
                    <img class="image is-rounded is-96x96 iconest" src="https://m.media-amazon.com/images/I/7161Fv8xl+L._UC256,256_CACC,256,256_.jpg" alt="">
                </div>
                <hr>
                <section class="section">
                    <div class="container">
                        <h1 class="title">Formulario de Contacto</h1>
                        <form action="#" method="post">
                            <div class="field">
                                <label class="label">Nombre</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Nombre">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Correo Electrónico</label>
                                <div class="control">
                                    <input class="input" type="email" placeholder="Correo Electrónico">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Mensaje</label>
                                <div class="control">
                                    <textarea class="textarea" placeholder="Mensaje"></textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{%endblock%}