<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <h2 class="title is-4">Contacto</h2>
        <p>
          Dirección: Calle de la Comida Canina, 123
          <br>
          Ciudad de los Perros, PD 12345
        </p>
        <p>
          Teléfono: +123 456 789
          <br>
          Correo Electrónico: info@huevon.com
        </p>
      </div>
      <div class="column is-4">
        <h2 class="title is-4">Enlaces Rápidos</h2>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/productos">Productos</a></li>
          <li><a href="/mayoreo">Mayoreo</a></li>
          <li><a href="/menudeo">Menudeo</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
        </ul>
      </div>
      <div class="column is-4">
        <h2 class="title is-4">Síguenos en Redes Sociales</h2>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>