{% extends "layout.html" %}

{%block content%}
<section class="hero is-success is-fullheight has-dog-background">
<div class="hero-body">
    <div class="container">
      <h1 class="title">
        ¡Descubre la comida ideal para tu mejor amigo!
      </h1>
      <h2 class="subtitle">
        Nutrición de calidad para perros felices y saludables.
      </h2>
      <a href="/productos" class="button is-primary is-large">
        Ver productos
      </a>
    </div>
</div>
</section>

<section class="hero is-success is-fullheight has-background-white">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-6">
          <h1 class="title has-text-dark">Pasión por los Perros</h1>
          <p class="subtitle hastext-dark">¡Nuestra razón de ser!</p>
          <p class = "has-text-dark">
            En "Huevón," nuestra pasión por los perros es el motor que impulsa todo lo que hacemos. No es solo una empresa; es un homenaje a nuestros amigos de cuatro patas. Cada receta, cada ingrediente y cada producto que creamos está diseñado pensando en la salud y la felicidad de tus mascotas.
          </p>
          <p class = "has-text-dark">
            Ven y únete a nosotros en este viaje de amor y compromiso por los perros. Conoce más sobre cómo nuestro amor inquebrantable se refleja en cada producto que ofrecemos.
          </p>
        </div>
        <div class="column is-6">
          <div class="card">
            <div class="card-image">
              <img src="./static/img/publicidad1.png" alt="Perro feliz">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-success is-fullheight has-background-white">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
      <div class="column is-6">
          <div class="card">
            <div class="card-image">
              <img src="../static/img/publicidad2.png" alt="Comida para perros de alta calidad">
            </div>
          </div>
        </div>
        <div class="column is-6">
          <h1 class="title has-text-dark">Innovación en Nutrición Canina</h1>
          <p class="subtitle has-text-dark">Comida para perros que marca la diferencia.</p>
          <p class = "has-text-dark">
            En "Huevón," estamos comprometidos con la innovación en nutrición canina. Nuestro equipo de expertos en salud animal y chefs dedicados trabaja incansablemente para crear fórmulas únicas que satisfagan los paladares más exigentes y mejoren la vitalidad de tus mascotas.
          </p>
          <p class = "has-text-dark">
            Creemos en la innovación constante y en el compromiso con la salud y la felicidad de tu peludo amigo. Descubre cómo nuestros productos de vanguardia están cambiando el juego en la nutrición para perros.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}