{% extends "layout.html" %}

{%block content%}
<div class="serious">
    <section class="hero is-halfheight has-licenciado-background">
        <div class="hero-body">
            <h1 class="port-title">
                Nosotros somos "Huevon"
            </h1>
        </div>
    </section>

    <br>

    <div class="container">
        <div class="hero is-dark is-fullheight has-dog-background fixed-background">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns">
                        <div class="column is-6">
                            <h1 class="big-title">Nuestra Misión</h1>
                        </div>
                        <div class="column is-6">
                            <div class="card">
                                <div class="content">
                                    <div class="top-header">
                                        <img class="image is-rounded is-96x96 iconest" src="https://m.media-amazon.com/images/I/7161Fv8xl+L._UC256,256_CACC,256,256_.jpg" alt="">
                                    </div>
                                    <hr>
                                    <p>
                                        En Huevón tenemos la misión de llevar a los canes de todo el mundo una salud "de Huevos", partiendo de la alimentación, el pilar de cada día para nuestros compañeros perros.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="hero is-dark is-fullheight has-business-background fixed-background">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns">
                        <div class="column is-6">
                            <div class="card">
                                <div class="content">
                                    <div class="top-header">
                                        <img class="image is-rounded is-96x96 iconest" src="https://m.media-amazon.com/images/I/7196QmpWiuL._UC256,256_CACC,256,256_.jpg" alt="">
                                    </div>
                                    <hr>
                                    <p>
                                        Así como nuestros clientes, tenemos Visión dicromática: El Éxito y el cuidado de los perros, ambos nos permiten ver más allá en una gama de colores accesible para el cuidado y el amor hacia los caninos; Huevón, siempre preocupado por tí y tu mascota.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="column is-6">
                            <h1 class="big-title">Nuestra Visión</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <br>

        <div class="hero is-dark is-fullheight has-ingeniero-background fixed-background">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns">
                        <div class="column is-6">
                            <h1 class="big-title">Nuestros Valores</h1>
                        </div>
                        <div class="column is-6">
                            <div class="card">
                                <div class="content">
                                    <div class="top-header">
                                        <img class="image is-rounded is-96x96 iconest" src="https://www.blogodisea.com/wp-content/uploads/2009/03/trajes-perros-osito.jpg" alt="">
                                    </div>
                                    <hr>
                                    <p>
                                        En Huevón nos regimos por los valores de la confianza, respeto, ofertas y hacer pipí en los postes de la competencia de la manera más limpia y accesible posible. El valor de la Higiene nos precede y es gracias a eso que contamos con diversos premios a invel internacional.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}